<h1>yutokyokutyo portfolio</h1>
<p>このページはyutokyokutyoを紹介するページです。</p>

<script src="//www.powr.io/powr.js" external-type="html"></script> 
 <div class="powr-social-media-icons" id="61384133_1491403688"></div>

<h2> 紹介文 </h2>
<p>
2014-04
<a href="https://pepabo.com/">GMOペパボ株式会社</a>新卒入社
</p>

<p>
2014-04 ~ 2014-12
新卒エンジニア研修
</p>

<p>
2015-01 ~ 2016-12
<a href="https://shop-pro.jp/">カラーミーショップ</a>にて開発運用保守を担当
</p>

<p>
2017-01 ~ 現在
<a href="https://goope.jp/">グーペ</a>にて開発運用保守を担当
</p>

<p>実家は<a href="http://choccoco.com/">お菓子屋さん</a></p>

<h2>リンク</h2>

<ul>
  <li><a href="https://github.com/yutokyokutyo">GitHub</a></li>
  <li><a href="https://twitter.com/yutokyokutyo">Twitter</a></li>
  <li><a href="https://www.facebook.com/yutokyokutyo">Facebook</a></li>
  <li><a href="http://booklog.jp/users/yutokondou">Booklog</a></li>
  <li><a href="https://www.wantedly.com/users/4210053?ql=gaJpZM4AMLRN">Wantedly</a></li>
  <li><a href="https://speakerdeck.com/yutokyokutyo">Speaker Deck</a></li>
  <li><a href="https://recruit2018.pepabo.com/staff/kyokutyo/">新卒採用サイト</a></li>
  <li><a href="http://yutokyokutyo.hatenablog.com/">はてなブログ</a></li>
  <li><a href="https://connpass.com/user/yuto_kyoku/">connpass</a></li>
  <li><a href="https://suzuri.jp/yutokyokutyo/">suzuri</a></li>
</ul>

<h2>piano</h2>

<ul>
  <li><a href="https://soundcloud.com/yuto-kondou/kurotakydenki">kurotakidenki</a></li>
  <li><a href="https://www.youtube.com/watch?v=z89SfRRAMA4">愛し</a></li>
</li>
</ul>

<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwataru.aoyagi.33%2Fvideos%2F277664892381584%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>

<h2>マイブーム</h2>
<ul>
  <li><a href="https://www.youtube.com/watch?v=AAN-oJeqBKI">MOROHA『革命』</a></li>
</ul>

<script src="//www.powr.io/powr.js" external-type="html"></script> 
 <div class="powr-form-builder" id="0294da24_1491404162"></div>
<script src="//www.powr.io/powr.js" external-type="jimdo" type="text/javascript">
</script><script type="text/javascript">
//<![CDATA[
typeof loadPowr!="undefined" ? loadPowr() : null
//]]>
</script>
<div class="powr-instagram-feed" id="1f0d6ab0_1485606711521">
</div>

<iframe src="https://www.powr.io/plugins/social-feed/view?unique_label=7aaa92e1_1503992829&external_type=iframe" width="100%" height="600" frameborder="0"></iframe>
