<h1>yutokyokutyo portfolio</h1>
<p>このページはyutokyokutyoを紹介するページです。</p>

<h2> 紹介文 </h2>
<p>
2014-04
<a href="https://pepabo.com/">GMOペパボ株式会社</a>新卒入社
</p>

<p>
2014-04 ~ 2014-12
新卒エンジニア研修
</p>

<p>
2015-01 ~ 2016-12
<a href="https://shop-pro.jp/">カラーミーショップ</a>にて開発運用保守を担当
</p>

<p>
2017-01 ~ 現在
<a href="https://goope.jp/">グーペ</a>にて開発運用保守を担当
</p>

<h2>リンク</h2>

<ul>
  <li><a href="https://github.com/yutokyokutyo">GitHub</a></li>
  <li><a href="https://twitter.com/yutokyokutyo">Twitter</a></li>
  <li><a href="https://www.facebook.com/yutokyokutyo">Facebook</a></li>
  <li><a href="http://booklog.jp/users/yutokondou">Booklog</a></li>
  <li><a href="https://www.wantedly.com/users/4210053?ql=gaJpZM4AMLRN">Wantedly</a></li>
  <li><a href="https://speakerdeck.com/yutokyokutyo">Speaker Deck</a></li>
  <li><a href="https://recruit2018.pepabo.com/staff/kyokutyo/">新卒採用サイト</a></li>
  <li><a href="http://yutokyokutyo.hatenablog.com/">はてなブログ</a></li>
  <li><a href="https://connpass.com/user/yuto_kyoku/">connpass</a></li>
</ul>
